html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: $black;
    background-color: $white;
}

main {
    padding: 0 2rem;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}